<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Google TV / Android TV seadmetel pole puuteekraani ega kaamerat -->
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:banner="@drawable/banner"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.TvQuiz"
        android:hardwareAccelerated="true"
        android:usesCleartextTraffic="false">

        <!--
          usesCleartextTraffic="false" eeldab, et tvDisplayUrl MainActivity.kt failis
          kasutab https:// - Android TV/WebView blokeerib vaikimisi http:// liikluse.
        -->

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:theme="@style/Theme.TvQuiz">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <!--
                  See kategooria on kõige olulisem rida terves failis:
                  see paneb rakenduse ikooniga Google TV avakuva "Rakendused" reale.
                -->
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
